<div class="row align-items-center">
  <div class="col-md-6">
     <div class="alert alert-danger"><%= flash[:notice] if flash[:notice]  %></div>
   
     <%= form_for @user_session, url: sessions_path do |f| %>
       <div class="form-group">
         <%= f.label :username %>
         <%= f.text_field :username, class:'form-control' %>
       </div>
     
       <div class="form-group">
         <%= f.label :dialect %>
         <%= f.collection_select :dialect, Dialect.all, :id, :name, {}, {class:'form-control'} %>
       </div>
     
       <div>
         <%= f.submit 'Log In', class:"btn btn-primary" %>
       </div>
     <% end %>
  </div>
</div>