<br />
<div class="alert alert-info">
  <h4>Welcome to this room! <%= @user.username %> now you will be speaking in <%= @dialect.name %><%= image_tag "#{@dialect.icon}", size: "80x80"%><%= link_to 'Leave Room?', session_path(@user.id), method: 'delete' %></h4>
</div>
<br />
<br />
<div class="list-group" id="messages">
  <%= render @messages %>
</div>
<br>
<br>
<%= form_for @message, remote: true, authenticity_token: true do |f| %>
  <div class="form-group">
    <%= f.label :your_message %>:
    <%= f.text_area :content, class: "form-control" %>  
  </div>
  <div>
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>
